@{
    ViewBag.Title = "NoRecord";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="alert alert-warning col-lg-5 col-lg-offset-3" role="alert" style="color: brown; text-align:center"><h4>No Record found....</h4></div>
<br />
<br />
<br />
<br />
<p></p>