
    <div>
        <img src="../Content/Images/headline-locations.jpg" />
    </div>
    <div class="row" style="text-align: center; margin: 10px; ">
        <h1 style="color: #bfcb75;">We have branches all over Pakistan</h1>
        <div class="col-lg-3 col-lg-offset-1">
            <h3>Lahore</h3>
            <p>Pace lahore pakistan</p>
        </div>
        <div class="col-lg-3">
            <h3>karachi</h3>
            <p>Pace Karachi pakistan</p>
        </div>
        <div class="col-lg-3">
            <h3>Islamabad</h3>
            <p>Pace Islamabad pakistan</p>
        </div>
    </div>

