@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Coffee_Hub.Models
@model List<menu>


<style>
    p {
        text-align: start;
        font-size: 18px;
        font-weight: 400;
    }

    h3 {
        color: #bfcb75;
        font-size: 20px;
        font-weight: bolder;
    }
</style>
<h2 style="color: #bfcb75; text-align:center">Search Result</h2>

<div class="row">
    @foreach (menu x in Model)
    {
        
        <div class="col-lg-5 col-lg-offset-1">
            <img src="../Content/Images/@(x.name + ".jpg")" />
        </div>
        <div class="form-group col-lg-4">
            <h3>Name:</h3> <p>@x.name</p>
            <h3>Price:</h3> <p>@x.price</p>
            <h3>Details:</h3> <p>@x.details</p>
        </div>
    }
</div>